@charset "UTF-8";

div.fs_div dialog {
	padding: 0;
	border: 2px solid rgba(50, 50, 50, 0.9);
	background-color: rgba(255, 255, 255, 0.9);
}
div.fs_div dialog .div_dialog_header {
	padding: 2px 2px 2px 2px;
	text-align: left;
}

div.fs_div dialog .div_dialog_header button {
	float: right;
}