@charset "UTF-8";

body.modern, .modern div.fs_div {
    margin: 0; padding: 0;
    background-color: #FFFFFF;
    color: #333333;
}

body.modern div.fs_div dialog {
	padding: 0;
	border: 2px solid rgba(50, 50, 50, 0.9);
	background-color: rgba(255, 255, 255, 0.9);
}

body.modern div.fs_div dialog .ui-resizable-handle {
	border: 2px solid rgba(50, 50, 50, 0.9);
	background-color: rgba(50, 50, 50, 0.9);
}

body.modern div.fs_div dialog .ui-resizable-e {
    width: 2px;
}

body.modern div.fs_div dialog .ui-resizable-s {
    height: 2px;
}

.modern div.fs_div .container div, .modern div.fs_div .container p, .modern div.fs_div .container table {
	background-color: #FAFAFA;
    color: #333333;
}

body.modern div.fs_div dialog .div_dialog_header {
	padding: 2px 2px 2px 2px;
	text-align: left;
}

body.modern div.fs_div dialog .div_dialog_header button {
	float: right;
}

body.modern div.fs_div table tbody.fs_list tr {
	height : 60px;
}

body.modern div.fs_div table tbody.fs_list td, div.fs_div table tbody.fs_list th {
    vertical-align: middle;
}

body.modern div.fs_div .fs_allsearch input {
	display: inline-block;
}

body.modern div.fs_div a:not(.btn), div.fs_div table td a:not(.btn), div.fs_div table th a:not(.btn), div.fs_div div a:not(.btn) {
    color: rgb(90, 120, 200);
    text-decoration: none;
    text-decoration-line: none;
}

body.modern div.fs_div a:not(.btn), div.fs_div table td a:not(.btn), div.fs_div table th a:not(.btn), div.fs_div div a:not(.btn) {
    color: rgb(90, 120, 200);
}

body.modern .table-hover > tbody > tr:hover {
    background-color: #C8C8E8;
}

body.modern .table > thead > tr > td.active,
body.modern .table > tbody > tr > td.active,
body.modern .table > tfoot > tr > td.active,
body.modern .table > thead > tr > th.active,
body.modern .table > tbody > tr > th.active,
body.modern .table > tfoot > tr > th.active,
body.modern .table > thead > tr.active > td,
body.modern .table > tbody > tr.active > td,
body.modern .table > tfoot > tr.active > td,
body.modern .table > thead > tr.active > th,
body.modern .table > tbody > tr.active > th,
body.modern .table > tfoot > tr.active > th {
    background-color: #C8C8E8;
}

body.modern .table-hover > tbody > tr > td.active:hover,
body.modern .table-hover > tbody > tr > th.active:hover,
body.modern .table-hover > tbody > tr.active:hover > td,
body.modern .table-hover > tbody > tr:hover > .active,
body.modern .table-hover > tbody > tr.active:hover > th {
    background-color: #cbcbeb;
}