@charset "UTF-8";

body.dark.modern {
    background-color: #2f2f2f;
}

body.dark.modern, body.dark.modern pre, body.dark.modern div, body.dark.modern p {
    color: #C9C9C9;
}

body.dark.modern .container {
    background-color: #3b3b3b;
    color: #C9C9C9;
}

body.dark.modern div.fs_div .container div, body.dark.modern div.fs_div .container p, body.dark.modern div.fs_div .container table, body.dark.modern div.fs_div div {
    background-color: #3b3b3b;
}

body.dark.modern div.fs_div input, body.dark.modern div.fs_div textarea, body.dark.modern div.fs_div select {
    background-color: #4b4b4b;
    color: #C1C1C1;
}

body.dark.modern div.fs_div input.btnx, body button.btnx {
    background-color: #3F3F3F;
}

body.dark.modern div.fs_div input.btnx:disabled, body button.btnx:disabled, body.dark.modern div.fs_div input.btnx.disabled, body button.btnx.disabled {
    color: #AAAAAA;
    background-color: #3B3B3B;
}

body.dark.modern div.fs_div div, body.dark.modern div.fs_div p, body.dark.modern div.fs_div span, body.dark.modern div.fs_div h1, body.dark.modern div.fs_div h2, body.dark.modern div.fs_div h3, body.dark.modern div.fs_div h4, body.dark.modern div.fs_div h5, body.dark.modern div.fs_div h6, body.dark.modern div.fs_div table, body.dark.modern div.fs_div td, body.dark.modern div.fs_div th {
    color: #C9C9C9;
}

body.dark.modern div.fs_div a, body.dark.modern div.fs_div table td a, body.dark.modern div.fs_div table th a, body.dark.modern div.fs_div div a {
    color: rgb(110, 150, 230);
}

body.dark.modern div.fs_div td.td_mark_dir, body.dark.modern div.fs_div div.td_mark_dir {
    color: #E8DB5F;
}

body.dark.modern div.fs_div .container table.bordered th, body.dark.modern div.fs_div .container table.bordered td {
    border-right: 1px solid #4b4b4b;
}

body.dark.modern div.fs_div a.flatbutton, body.dark.modern div.fs_div input.flatbutton, body.dark.modern div.fs_div button.flatbutton { 
    background-color: #3f3f3f;
    border: 1px solid rgb(110, 150, 230);
    color: rgb(110, 150, 230);
}

body.dark.modern div.fs_div a.flatbutton.thick, body.dark.modern div.fs_div input.flatbutton.thick, body.dark.modern div.fs_div button.flatbutton.thick {
    background-color: #4f4f6a;
    border: 3px solid rgb(110, 150, 230);
}

body.dark.modern div.fs_div a.flatbutton.green, input.flatbutton.green, button.flatbutton.green {
    border: 1px solid rgb(110, 230, 150);
    color: rgb(110, 230, 150);
}

body.dark.modern div.fs_div a.flatbutton.green.thick, input.flatbutton.green.thick, button.flatbutton.green.thick {
    border: 3px solid rgb(110, 230, 150);
}

body.dark.modern div.fs_div a.flatbutton.red, input.flatbutton.red, button.flatbutton.red {
    border: 1px solid rgb(230, 120, 120);
    color: rgb(230, 120, 120);
}

body.dark.modern div.fs_div a.flatbutton.red.thick, input.flatbutton.red.thick, button.flatbutton.red.thick {
    border: 3px solid rgb(230, 120, 120);
}

body.dark.modern div.fs_div a.flatbutton.disabled, body.dark.modern div.fs_div input.flatbutton.disabled, body.dark.modern div.fs_div button.flatbutton.disabled {
    border: 1px solid rgb(110, 110, 110);
    color: rgb(110, 110, 110);
}

body.dark.modern div.fs_div a.flatbutton.disabled.thick, body.dark.modern div.fs_div input.flatbutton.disabled.thick, body.dark.modern div.fs_div button.flatbutton.disabled.thick {
    border: 3px solid rgb(110, 110, 110);
}

body.dark.modern div.fs_div a.flatbutton:hover, body.dark.modern div.fs_div input.flatbutton:hover, body.dark.modern div.fs_div button.flatbutton:hover {
    background-color: #4f4f6a;
    box-shadow: 2px 2px 2px 0 rgb(70, 100, 150);
}

body.dark.modern div.fs_div a.flatbutton.green:hover, body.dark.modern div.fs_div input.flatbutton.green:hover, body.dark.modern div.fs_div button.flatbutton.green:hover {
    background-color: #4f6a4f;
}

body.dark.modern div.fs_div a.flatbutton.red:hover, body.dark.modern div.fs_div input.flatbutton.red:hover, body.dark.modern div.fs_div button.flatbutton.red:hover {
    background-color: #6a4f4f;
}

body.dark.modern div.fs_div a.flatbutton.disabled:hover, body.dark.modern div.fs_div input.flatbutton.disabled:hover, body.dark.modern div.fs_div button.flatbutton.disabled:hover {
    border: 1px solid rgb(110, 110, 110);
    box-shadow: 0;
}

body.dark.modern div.fs_div a.flatbutton.disabled.thick:hover, body.dark.modern div.fs_div input.flatbutton.disabled.thick:hover, body.dark.modern div.fs_div button.flatbutton.disabled.thick:hover {
    border: 3px solid rgb(110, 110, 110);
}

body.dark.modern .ui-dialog {
    background-color: #2f2f2f;
}

body.dark.modern .ui-dialog-content {
    background-color: #2f2f2f;
    color: #C9C9C9;
}

body.dark.modern .ui-dialog-titlebar {
    background-color: #3f3f3f;
    color: #C9C9C9;
}

body.dark.modern div.fs_div dialog {
    border: 2px solid rgba(150, 150, 150, 0.9);
    background-color: rgba(55, 55, 55, 0.9);
}

body.dark.modern div.fs_div dialog .ui-resizable-handle {
    border: 2px solid rgba(150, 150, 150, 0.9);
    background-color: rgba(150, 150, 150, 0.9);
}

body.dark.modern div.fs_div a:not(.btn), body.dark.modern div.fs_div table td a:not(.btn), body.dark.modern div.fs_div table th a:not(.btn), body.dark.modern div.fs_div div a:not(.btn) {
    color: rgb(110, 150, 230);
}

body.dark.modern .table-hover > tbody > tr:hover {
  background-color: #4f4f4f;
}

body.dark.modern .table > thead > tr > td.active,
body.dark.modern .table > tbody > tr > td.active,
body.dark.modern .table > tfoot > tr > td.active,
body.dark.modern .table > thead > tr > th.active,
body.dark.modern .table > tbody > tr > th.active,
body.dark.modern .table > tfoot > tr > th.active,
body.dark.modern .table > thead > tr.active > td,
body.dark.modern .table > tbody > tr.active > td,
body.dark.modern .table > tfoot > tr.active > td,
body.dark.modern .table > thead > tr.active > th,
body.dark.modern .table > tbody > tr.active > th,
body.dark.modern .table > tfoot > tr.active > th {
  background-color: #282828;
}

body.dark.modern .table-hover > tbody > tr > td.active:hover,
body.dark.modern .table-hover > tbody > tr > th.active:hover,
body.dark.modern .table-hover > tbody > tr.active:hover > td,
body.dark.modern .table-hover > tbody > tr:hover > .active,
body.dark.modern .table-hover > tbody > tr.active:hover > th {
  background-color: #1b1b1b;
}